<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>About Us</title>
  <meta name="description" content="The assignment is to create a basic blog with 3 pages using html, css, javascript">
  <meta name="author" content="Birinder Singh Bhatia">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css"> 
 
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.jpg">

</head>
<body>
  <!-- Primary Page Layout  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="wrapper" id="wrapper">
    <!-- header –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <header class="header">
      <!-- Logo -->
      <a href=/>
        <div id="logo" >Assignment 1 - INFO 253 Web Architecture - Bir</div>
      </a>
      <!-- Nav -->
      <nav id="nav">
        <ul>          
          <li><a href=/>Home</a></li>
          <li><a href="#wrapper">About Us</a></li>
          <li><a href=contactUs>Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <!-- Content div  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="cont row" id ="aboutme">
      <div class="three columns leftC" >        
        <img src="/static/images/about-me.jpg" alt="" height="222" width="332">
      </div>
        
      <div class="nine columns rightC">
        <h4>Birinder Singh Bhatia</h4>
        <h5>Graduate Student at School of Information - University of California, Berkeley</h5>
        <h5>Master of Information Management and Systems</h5>
        <h5>School of Information - University of California, Berkeley</h5>
        <h6>Courses and Projects</h6>
        <p>Management in Information Intensive Companies, Lean-Agile Product Management,
          Web Architecture, Software Prototyping, Quantitative Research Methods
          Web Arch project
          Quant Project
        </p>
      </div>
    </div>                
    <!-- Footer div  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <footer>
      <div class="foot" >
        <ul >
          <li><a href=/>Home</a></li>
          <li><a href="#wrapper">About Us</a></li>
          <li><a href=contactUs>Contact Us</a></li>
        </ul>
      </div>      
    </footer>    
  </div>

<!-- End Document –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
