<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Homepage</title>
  <meta name="description" content="The assignment is to create a basic blog with 3 pages using html, css, javascript">
  <meta name="author" content="Birinder Singh Bhatia">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.jpg">

</head>
<body>
  <!-- Primary Page Layout  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="wrapper" id="wrapper">
    <!-- header –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <header class="header">
      <!-- Logo -->
      <a href=/>
        <div id="logo" >Assignment 1 - INFO 253 Web Architecture - Bir</div>
      </a>
      <!-- Nav -->
      <nav id="nav">
        <ul>          
          <li><a href=#wrapper>Home</a></li>
          <li><a href=aboutUs>About Us</a></li>
          <li><a href=contactUs>Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <!-- content -->    

    <div class="cont row">
      <div class="three columns leftC">
        <h4>List of Articles:</h4>
        <a href="#b1" style="margin-top:5px">8 Experiments in Motivation</a>
        <a href="#b2" style="margin-top:5px">A Mindful Shift of Focus</a>
        <a href="#b3" style="margin-top:5px">How to Develop an Awesome Sense of Direction</a>
        <a href="#b4" style="margin-top:5px">Training to Be a Good Writer</a>
        <a href="#b5" style="margin-top:5px">What Productivity Systems Won’t Solve</a>
      </div>
      <div class="nine columns rightC"> 
        <h4>Blog Posts</h4>
        <div class="blog1" id="b1">
          <h1><a id="8_Experiments_in_Motivation_0"></a>8 Experiments in Motivation</h1>
          <h2><a></a>By Leo Babauta</h2>
          <p>I was talking to a 19-year-old recently and he has been struggling with motivation.</p>
          <p>His problem goes like this: he gets excited about starting a project or plan, and is very motivated at the start… but after a few days, that feeling dies down, and he starts procrastinating.</p>
          <p>He really does want to do the project or follow through on the plan, but the motivation inevitably drops away.</p>
          <p>I told him this is something he should devote some effort to figuring out, because <strong>very few problems are as important to solve as this one.</strong></p>
          <p>I suggested <strong>experiments in motivation.</strong> Every person is motivated differently (and in fact, that can shift), so finding methods that motivate you personally is a matter of experimenting.</p>
          <p>I’m writing this post for him, and anyone else who might want to try these experiments.</p>
          <p>How does it work? You <strong>try each experiment for a week, and note the results.</strong> After a couple months of doing this, you know more about your personal motivation style than ever before.</p>
          <p>Here are eight motivation methods you could try:</p>
          <a href=blog/8-experiments-in-motivation style="margin-top:10px">Read More...</a>
        </div>   

        <div class="blog1" id="b2">
          <h1><a id="A_Mindful_Shift_of_Focus_0"></a>A Mindful Shift of Focus</h1>
          <h2><a></a>By Leo Babauta</h2>
          <p>Throughout the day, we get frustrated, irritated, angry.</p>
          <p>We are frustrated in traffic, when a loved one doesn’t behave the way we like, when someone tells us we’re wrong, when technology doesn’t work the way we want, when dinner is ruined, among many other daily stresses.</p>
          <p>These frustrations can build up into unhappiness, relationship problems, work problems, built up stress, blowing your top at someone when you lose your cool. Not always helpful stuff!</p>
          <p>I’m going to suggest a mindful shift in focus to deal with frustrations.</p>
          <p>It’s a mindfulness practice, and I highly recommend it. We’ll start by talking about where frustration comes from, then how to mindfully shift.</p>
          <h3><a id="Mindfulness_of_Frustration_13"></a>Mindfulness of Frustration</h3>
          <p>The next time you experience frustration, just notice it. Just be mindful that you’re unhappy with something or someone, that you’re feeling frustration in your body somehow.</p>
          <p>Pay attention to your breathing, to tightness in your chest or shoulders, to how it feels in your body. Stay with the feeling for just a couple moments, if you have the courage to do so. Normally, we run like hell from paying attention to this feeling, and try to resolve it by fixing the situation, making people behave differently, distracting ourselves, etc. But stay with it if you can.</p>
          <a href=blog/a-mindful-shift-of-focus style="margin-top:10px">Read More...</a>
        </div>

        <div class="blog1" id="b3">
          <h1><a id="How_to_Develop_an_Awesome_Sense_of_Direction_0"></a>How to Develop an Awesome Sense of Direction</h1>
          <h2><a></a>By Leo Babauta</h2>
          <p>It’s strange, but I’ve discovered I have a better sense of direction than many people – when I travel, it doesn’t take that long for me to figure out the lay of the land, and soon I’m walking around almost like a local.</p>
          <p>But I’ve also found out that many other people don’t have this good sense of direction, and it can make things difficult for them when they travel to a new place.</p>
          <p>I used to think maybe it was something you were born with or not, but I’m now convinced that it’s a set of skills you can learn. For me, it always seemed instinctive, until a friend asked me what i do when I get to a new place. I’ve done a lot of analyzing of what I do since then, and I’ve broken the skill into a series of steps.</p>
          <p>I hope this helps those who feel lost.</p>
          <p>Here’s what I recommend, whenever you get to a new city or area you’re not totally familiar with:</p>
          <a href=blog/how-to-develop-an-awesome-sense-of-direction style="margin-top:10px">Read More...</a>
        </div>

        <div class="blog1" id="b4">
          <h1><a id="Training_to_Be_a_Good_Writer_0"></a>Training to Be a Good Writer</h1>
          <h2><a></a>By Leo Babauta</h2>
          <p>I’m not going to claim to be the world’s greatest writer, but I do think I’m reasonably competent. I’ve been training for 25 years, and I make a living as a writer.</p>
          <p>For those who are just starting out as writers, I’d like to share my training. I didn’t wake up and suddenly know how to write – I’ve been training for most of my life.</p>
          <p>A short background on my writing career: I started out as a sportswriter, as a senior in high school, and eventually became a full-time reporter and then editor for my local paper on Guam. I went on to do freelance writing for magazines and other publications, worked for awhile as a bill writer for lawmakers and a speechwriter for the Guam governor. Eventually I started my own blog while doing freelance blogging for about 5 different blogs. Finally, I’ve written my blog for almost 10 years now, and have written numerous books and courses.</p>
          <a href=blog/training-to-be-a-good-writer style="margin-top:10px">Read More...</a>
        </div>  

        <div class="blog1" id="b5">
          <h1><a id="What_Productivity_Systems_Wont_Solve_0"></a>What Productivity Systems Won’t Solve</h1>
          <h2><a></a>By Leo Babauta</h2>
          <p>If you’re like me, you’re always looking for the perfect productivity system. Unfortunately, it doesn’t exist.</p>
          <p>The problem isn’t with the productivity system — the problem is that none of them can solve a few really important (and related) problems:</p>
          <ol>
          <li>Procrastination</li>
          <li>Fear of uncertainty</li>
          <li>Fear of discomfort</li>
          </ol>
          <p>For example, at the top of my to-do list today is “write Zen Habits post” and “write intro to declutter course”… pretty simple, right? Two fairly straightforward tasks. But as I started this post, I went to check and respond to email, sent a message to my wife, checked on my finances, cleaned the kitchen a little. I’m super productive at the little things when I’m putting off the big tasks!</p>
          <a href=blog/what-productivity-systems-wont-solve style="margin-top:10px">Read More...</a>
        </div>
      </div>
    </div>
    
    <!-- Footer  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <footer>
        <div class="foot" >
          <ul >
            <li><a href="#wrapper">Home</a></li>
          <li><a href=aboutUs>About Us</a></li>
          <li><a href=contactUs>Contact Us</a></li>
          </ul>
        </div> 
    </footer>
  </div> 

<!-- End Document –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
